@import '../../../public/sass/utilities/variables';

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 1.5rem 1.5rem 0.05rem 1.5rem;
  background-color: $white;
  border-radius: 0.5rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}
